fieldset{
    width: 20%;
    display: flex;
    flex-direction: column;
    label, input, select {
        display: block;
        margin-bottom: 5px;
        width: 60%;
    }
}

.resultado{
    padding: 10px;
    margin: 20px;
    font-size: 1.2rem;
}

a{
    color:purple;
    text-decoration: none;
    font-size: 1.2rem; 
}
a:hover{
    text-decoration: underline;
    color: violet;
}